
<body>
  
<div class="row">
    <task-create [task]="task" *ngFor="let task of tasks"></task-create>
    <task-create (onTaskCreated)="loadTasks()"></task-create>
    <!--<div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <div class="relative">
                                <i class="ti-rocket"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="numbers"> Tim
                            <p id="tasks"> {{timtask}}</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-brush"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers"> Fabi
                            <p id="tasks"> {{fabitask}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-wand"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers"> Jules
                            <p id="tasks"> {{julestask}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
  
<button class="btn btn-default" (click)="showquote()">
   
        <i class="ti-reload"></i>
    </button>
</body>