<!-- <div class="responsiveCal">
  <iframe src="https://calendar.google.com/calendar/b/3/embed?title=Calendar%20&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=wg.kopernikusplatz%40gmail.com&amp;color=%231B887A&amp;src=de.german%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=e_2_de%23weeknum%40group.v.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FBerlin"
    style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div> -->
<!--<dx-scheduler
    [dataSource]="appointmentsData"
    [views]='["week", "month"]'
    currentView="week"
    [currentDate]="currentDate"
    [startDayHour]="9"
    [height]="600">
</dx-scheduler>-->