<body>

<div class="sidebar-wrapper">
    
    <ul class="nav">
        <li>
            <a routerLink="home">
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a routerLink="dash">
                <i class="ti-world"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a routerLink="calendar">
                <i class="ti-calendar"></i>
                <p>Calendar</p>
            </a>
        </li>

        <li>
            <a routerLink="tasks">
                <i class="ti-pencil-alt"></i>
                <p>Tasks</p>
            </a>
        </li>
        <li>
            <a routerLink="donate">
                <i class="ti-marker-alt"></i>
                <p>Donate</p>
            </a>
        </li>
        <li>
            <a routerLink="user">
                <i class="ti-linux"></i>
                <p>Profile</p>
            </a>
        </li>
        <li>
            <a routerLink="pictures">
                <i class="ti-save-alt"></i>
                <p>Pictures</p>
            </a>
        </li>
    </ul>
</div>
</body>