<p>
  You are very welcome to donate money for beer an flausch!
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="julianfalk61@gmail.com">

  <!-- Specify a Donate button. -->
  <input type="hidden" name="cmd" value="_donations">

  <!-- Specify details about the contribution -->
  <input type="hidden" name="item_name" value="Friends of the Park">
  <input type="hidden" name="item_number" value="Fall Cleanup Campaign">
  <input type="hidden" name="currency_code" value="EUR">
  <INPUT TYPE="hidden" name="address_override" value="1">

  <!-- Display the payment button. -->
  <div class="buttonHolder">
    <input type="image" name="submit" class="rounded" src="http://www.exconcept.de/uploads/pics/paypal.jpg" alt="Donate">
  </div>
  <img alt="" width="1" height="1"
  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

</form>
