.container {
    width: 75%;
    height: 75%;
    position: absolute;    
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    }
img {
    max-width: 75%;
    max-height: 75%;  
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    }